body{
    background-color: #F5F6FA;
}

*{
    margin: 0;
    padding: 0;
}

html{
	font-family: Arial, Verdana, sans-serif;
	font-size: 16px;
    color: #2F2F33;;
}

#container{
    min-width: 600px;
	max-width: 1200px;
    text-align: center;
    margin: 0 auto;
}

h1{
    margin: 8% auto;
    font-size: 48px;
    text-align: center;
}

.conteudo{
    
}